body {
     background-color: #8b1952;
     margin-left: 2cm;
     margin-right: 2cm;

}
h1 {
     text-align: center;
     font-size: 40px;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
     margin-top: 10px;
}
h2 {
     text-align: center;
     font-size: 30px;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
}
p{
     text-align: center;
     font-size: 20px;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
}
table {
     margin: 10px auto;
     border-collapse: collapse;
     width: 90%;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;

}
thead {
     font-size: 20px;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
}
tbody {
     text-align: center;
     font-size: 20px;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
}
ol {
     text-align: center;
     font-size: 15px;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bolder;
     text-align: left;
}
h3 {
     text-align: left;
     font-size: 15px;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
}
table, th, td {
     border: 1px solid aliceblue;
}
